<!-- HTML Template -->
<div class="container-fluid timer-container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <img src="{{timerSetup.logoUrl}}" alt="Logo" class="logo img-fluid">
        
        <h1 class="title display-1">{{title}}</h1>
        
        @if(!finished) {
          <h3 class="timer text-center">
            {{minutesLeft < 10? "0":""}}{{minutesLeft}}:{{secondsLeft < 10? "0":""}}{{secondsLeft}}
          </h3>
        }
      </div>
    </div>
    
    <div class="progress-container">
      <div class="progress rounded-0">
        <div 
          class="progress-bar" 
          role="progressbar" 
          [style.backgroundColor]="timerSetup.colorBar" 
          [style.width]="progressPercentage + '%'" 
          [attr.aria-valuenow]="progressPercentage" 
          aria-valuemin="0" 
          aria-valuemax="100">
        </div>
      </div>
    </div>
    
    <div class="edges" [style.borderColor]="timerSetup.colorBorder"></div>
  </div>